*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color:gold;
    --background:#000;
    --color-hover:#000;
    --background-hover:gold;
    --transition:all 0.6s ;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--background);
    padding: 10px 8%;
    align-items: center;
    height: 80px;
    z-index: 100;
}
.navbar{
    display: flex;
    align-items: center;
    direction: rtl;
}
.navbar li{
    position: relative;
    list-style: none;
}
.navbar li a{
    color: var(--color);
    padding: 10px;
    text-decoration: none;
    line-height: 40px;
    font-size: 2rem;
    font-weight: 600;
    display: block;
}
#menu{
    color: var(--color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.head{
    width: 100%;
    height:850px;
}
.head img{
    width: 100%;
    height: 100%;
}


@media(max-width:600px){
    #menu{
        display: block;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -50%;
        right: 0;
        background-color: var(--background);
        transition: var(--transition);
    }
    .navbar.open{
        top: 9%;
    }
}